body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

.section-1 {
    height: 100%;
    width: 100%;
    position: absolute;
}

.section-1 .bg {
    height: 100%;
    width: 100%;
    position: absolute;
}

.section-1 .div-1 {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    color: rgb(253, 103, 16);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
}

.section-1 .div-2 {
    margin-left: 350px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .normal {
    margin-top: 10px;
    margin-left: 100px;
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.section-1 .normal:hover {
    color: rgb(253, 142, 142);
    cursor: pointer;
}

.section-1 .div-3 {
    margin-left: 75%;
    margin-top: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .div-3 .search {
    height: 30px;
    width: 250px;
    cursor: pointer;
    color: aliceblue;
    border-color: rgb(253, 103, 16);
    background-color: transparent;
    border-right: none;
    border-radius: 4px;
    outline-style: none;
}

.section-1 .div-3 .button {
    height: 36px;
    width: 70px;
    color: white;
    background-color: rgb(197, 93, 7);
    border-radius: 5px;
    border: none;
}

.section-1 .div-3 .button:hover {
    color: rgb(253, 142, 142);
    cursor: pointer;
}

.section-1 .text-1 {
    position: absolute;
    margin-left: 700px;
    margin-top: 300px;
    text-align: center;
    color: aliceblue;
    font-size: 80px;
    text-align: center;
}

.section-1 .text-2 {
    color: rgb(253, 103, 16);
}

.section-1 .div-4 {
    position: absolute;
    margin-left: 580px;
    margin-top: 600px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.section-1 .div-4 .button {
    height: 36px;
    width: 90px;
    color: black;
    background-color: rgb(253, 103, 16);
    border-radius: 5px;
    border: none;
}

.section-1 .div-4 .button:hover {
    color: rgb(253, 142, 142);
    cursor: pointer;
}